<% courses.each do |course| %>
    <div>
      <input type="checkbox" course-id ="<%=course.id%>"/>
      <%= course.name %>
    </div>
<% end %>
<% @registered_courses.each do |course| %>
    <div>
      <input type="checkbox" course-id ="<%=course.id%>" checked/>
      <%= course.name %>
    </div>
<% end %>